{% extends "_base.j2" %}
{% import "_macros.j2" as macros %}

{% block header %}
    <title>{{post.title}}</title>
{%endblock%}


{% block content %}
<section>
    <h1 class="h1 text-center mx-auto mt-4 py-5">
        <a href="{{ url_for('index') }}">Python Spring blog</a>: {{post.title}}
    </h1>
    <div class="text-center mb-5">
        <div class="btn-group mx-auto mb-0" role="group" aria-label="Tags">
            {%  for tag in post.tags %}
                <a href="{{ url_for('tags', tag_id=tag.tag_id) }}"
                   type="button"
                   class="btn btn-outline-secondary {{ 'active' if request.path == url_for('tags', tag_id=tag.tag_id) else ''}}"
                >{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="card col-12 m-2">
            <div class="card-body">
                <div class="row">
                    <img src="{{ post.picture }}" class="img-fluid col-3">
                    <div class="col-9">
                        <p>{{ post.full }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}