{% extends "_base.j2" %}
{% import "_macros.j2" as macros %}

{% block header %}
    <title>{{title}}</title>
{%endblock%}


{% block content %}
<section>
    <h1 class="h1 text-center mx-auto mt-4 py-5">
        <a href="{{ url_for('index') }}">Python Spring blog</a>{% if title %}: {% endif %}{{title}}
    </h1>
    <div class="text-center mb-5">
        <div class="btn-group mx-auto mb-0" role="group" aria-label="Tags">
            {%  for tag in tags %}
                <a href="{{ url_for('tags', tag_id=tag.tag_id) }}"
                   type="button"
                   class="btn btn-outline-secondary {{ 'active' if request.path == url_for('tags', tag_id=tag.tag_id) else ''}}"
                >{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            {{ macros.post_card(post) }}
        {% endfor %}
    </div>
</section>
{%endblock%}